mixin pictures-stars(img1,img2,img3,img4,img5)
  div.pictures-stars
    img.pictures-stars__img(src=img1 alt="img")
    img.pictures-stars__img(src=img2 alt="img")
    img.pictures-stars__img(src=img3 alt="img")
    img.pictures-stars__img(src=img4 alt="img")
    img.pictures-stars__img(src=img5 alt="img")